<%= simple_form_for @chapter, :html => { :class => 'form-vertical' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :content, as: 'ckeditor' %>

  <%= f.button :submit, :class => 'btn-primary', label: false %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chapters_path, :class => 'btn btn-default' %>
<% end %>
