<%- model_class = Chapter -%>

<% if @chapters.empty? %>
<%= link_to "Clique aqui p/ começar", new_chapter_path, class: "btn btn-default pull-right" %>
  <h1>Nada por aqui</h1>
  <p>Vamos começar criando um primeiro capitulo?!</p>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= link_to chapter.title, chapter_path(chapter) %></td>
        <td><%=l chapter.updated_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      chapter_path(chapter), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_chapter_path(chapter), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      chapter_path(chapter),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
