<%- model_class = Chapter -%>
<div class="page-header">
  <div class="pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                  chapters_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_chapter_path(@chapter), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  chapter_path(@chapter),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>

  </div>
  <h1><%= @chapter.title %></h1>
  <span><%= @chapter.description %></span>
</div>
  <div class="container">
    <%= @chapter.content %>
  </div>
